<nav class="navbar navbar-expand-md navbar-dark mb-5">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('assets/images/icon/logo.svg') }}" alt="Labority logo" height="50">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPublic" aria-controls="navbarPublic" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarPublic">
            <ul class="navbar-nav ms-auto align-items-center gap-2">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_register') }}">
                        Inscription
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-sm px-3" href="{{ path('app_support_contact') }}">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>