{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center mt-5" style="min-height: 70vh;">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body p-4">

                    <i class="bi bi-shield-lock fs-1 text-primary mb-3 d-block text-center text-white"></i>

                    <h4 class="card-title text-center mb-4 text-white">Réinitialisation du mot de passe</h4>

                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <div class="d-grid mt-3">
                            <button class="btn btn-light">Réinitialiser mon mot de passe</button>
                        </div>
                    {{ form_end(resetForm) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}