{% extends 'base.html.twig' %}

{% block title %}Session -
	{{ session.name }}
{% endblock %}

{% block body %}
	<div> 
		<twig:NavSession  id="{{ session.id }}" allPage="{{ session.sessionPages }}"/>
	</div>
{% endblock %}