body {
    font-family: "jetBrains Mono", "Inter", monospace;
    background-color: var(--black1);
    color: var(--white1);
}

/* Import de Inter (poids 400) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* Import de JetBrains Mono (Variable Font 100 à 900) */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..900&display=swap');

:root {
    --white1: rgb(248, 245, 240);
    --white2: rgb(255, 255, 255);
    --black1: rgb(28, 28, 28);
    --black2: rgb(15, 15, 15);
    --padding-section: clamp(2rem, 3vw, 4rem);
    --padding: clamp(1rem, 2vw, 2rem);
}

h1 {
    font-size: clamp(2.25rem, 5vw, 4rem);
    color: var(--white1);
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-size: clamp(1.375rem, 3vw, 2.5rem);
    color: var(--white1);
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-size: clamp(1.125rem, 2vw, 1.75rem);
    color: var(--white1);
    text-transform: uppercase;
    font-weight: 700;
}

.nav-link {
    transition: all 0.3s ease-out !important;
}

.nav-link:hover {
    transform: scale(0.8);
    opacity: 0.8;
}

.bg-dark {
    background: var(--black1) !important;
}

.table-dark {
    --bs-table-bg: rgba(255, 255, 255, 0.03) !important;
    --bs-table-striped-bg: var(--black1) !important;
}

.text-white {
    color: var(--white1) !important;
}

.text {
    font-family: "Inter", monospace;
}

.form-control:focus,
.form-select:focus {
    color: #212529;
    background-color: var(--white2);
    border-color: var(--white2);
    outline: 4;
    box-shadow: 0 0 0 0.25rem rgba(238, 234, 234, 0.1);
}

.form-select option:hover {
    background-color: #383b3d;
    color: #ffffff;
    border-radius: 10px;
}



.card,
.dropdown-menu,
.accordion-item {
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.card h2 {
    opacity: 1;
    margin-bottom: 10px;
}

.card p {
    opacity: 0.7;
}

.card label,
.card legend {
    color: var(--white1);
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.5);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu li a:hover {
    background-color: #383b3d;
    color: #ffffff;
    border-radius: 10px;
}



.pagination {
    --bs-pagination-bg: var(--black1);
    --bs-pagination-color: #ffffff;
    --bs-pagination-border-color: #373b3e;
    --bs-pagination-hover-bg: #2c3034;
    --bs-pagination-hover-color: #ffffff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
}


.placeholder-white::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
    .card-nav {
        width: max-content;
    }
}

.card {
    position: relative;
    z-index: 1 !important;
}

.accordion-button {
    background-color: transparent !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    color: inherit;
}


.accordion-button:focus {
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-button::after {
    filter: invert(1) brightness(2) !important;
}


.accordion-button:not(.collapsed)::after {
    filter: invert(1) brightness(2) !important;
}

.page-item .active {
    background-color: var(--white1);
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
}


.masonry-grid {
    column-count: 1;
    column-gap: 1.5rem;
    width: 100%;
}

@media (min-width: 576px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .masonry-grid {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .masonry-grid {
        column-count: 4;
    }
}

.gallery-item {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    overflow: hidden;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery-item:hover img {
    transform: scale(1.10);
    filter: grayscale(1);
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}


.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.gallery-item:hover img {
    filter: grayscale(1);
}

.text-wrap {
    width: 100%;
    text-align: center;
    padding: 0 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    color: #1C1C1C;
}

/*Gestion de l'icon pour afficher/masquer le mdp*/
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/*editeur*/
.main-container {
    height: calc(100vh - 120px);
    padding-top: 20px;
}

.tox-tinymce {
    border: none !important;
    background: transparent !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox-editor-header .tox-toolbar__primary {
    background-color: #1C1C1C !important;
    border-bottom: 1px solid #F8F5F0 !important;
}

.tox .tox-tbtn {
    background-color: #1C1C1C !important;
}

.tox .tox-editor-header {
    background-color: #1C1C1C !important;
    border-bottom: none !important;
}

.tox .tox-tbtn svg {
    fill: #F8F5F0 !important;
}

.tox .tox-tbtn:hover,
.tox .tox-tbtn--enabled {
    background-color: #1C1C1C !important;
}

.tox .tox-tbtn--select .tox-tbtn__select-label {
    color: #F8F5F0 !important;
    background: #1C1C1C !important;
}

.tox .tox-toolbar__group:not(:last-of-type) {
    border-right: 1px solid #F8F5F0 !important;
}

.tox .tox-menu,
.tox .tox-collection__item {
    background-color: #1C1C1C !important;
    color: #F8F5F0 !important;
}

.tox .tox-collection__item:hover,
.tox .tox-collection__item--active {
    background-color: #3a3a3a !important;
}

.tox .tox-collection__item-label * {
    color: #F8F5F0 !important;
}

.tox-promotion,
.tox-statusbar {
    display: none !important;
}


.h2-input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.5rem;
    color: var(--white1);
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    width: 100%;
}
