{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<twig:NavDashboard />
<h1> Dashboard </h1>
<div class="row g-3">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card border-secondary h-100">
      <div class="card-body">
        <div class="bg-primary bg-opacity-25 rounded-3 p-2 d-inline-flex mb-3">
          <twig:ux:icon name="lucide:users" class="text-primary" style="width:24px;height:24px;" />
        </div>
        <h3 class="text-uppercase text-white small mb-1 fw-semibold">Utilisateurs</h3>
        <h4 class="fs-2 fw-bold text-white mb-0">4 821</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
