{% extends 'base.html.twig' %}

{% block title %}404 - {{ parent() }}{% endblock %}

{% block body %}
   <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
            
            <img src="{{ asset('assets/images/icon/404.svg') }}" style="height:auto;width:90%;max-width 500px;" >

            
            <h2>Oups ! Page introuvable</h2>

            <p class=" mb-5 text-white fs-6">
                Désolé, la page que vous recherchez n'est pas disponible ou a été déplacée. Veuillez vérifier l'adresse saisie ou retourner à la page d'accueil pour continuer votre navigation.
            </p>

            
            <a href="{{ path('app_login') }}" class="btn btn-outline-light px-5">
                Retour à l'accueil
            </a>
            

        </div>
    </div>
{% endblock %}